﻿@model WebApplication1.Models.ChangePasswordCustomerViewModel

@{
    ViewData["Title"] = "ChangePasswordCustomer";
    Layout = "~/Views/Customer/_CustomerNav.cshtml";
}

<h1>Change Password</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePasswordCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
            <span style="color:red;">@TempData["Passwordc"]</span>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}