﻿ @model WebApplication1.Models.Customer

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <span style="color:red;">@TempData["Message"]</span>
        </form>
    </div>
</div>

<div>
    <p>Not a member yet? Register <a asp-area="" asp-controller="Customer" asp-action="Register">here</a></p>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>


