﻿@model WebApplication1.Models.ViewTicketsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Customer/_CustomerNav.cshtml";
}


@if (Model.list.Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>BookingID</th>
                    <th>ScheduleID</th>
                    <th>Passenger Name</th>
                    <th>Seat Class</th>

                    <th></th>
                </tr>

            </thead>

            <tbody>
                @foreach (var item in Model.list)
                {
                    <tr>
                        <td><h6>@item.BookingID</h6></td>
                        <td><h6>@item.ScheduleID</h6></td>
                        <td><h6>@item.PassengerName</h6></td>
                        <td><h6>@item.SeatClass</h6></td>
                        <td><a asp-action="TicketDetails" asp-controller="ViewTickets" asp-route-id=@item.BookingID> View Details</a></td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
}
else
{
    <span style="color:red">No booking records!</span>
}


