﻿@model WebApplication1.Models.TicketDetailsViewModel

@{
    ViewData["Title"] = "TicketDetails";
    Layout = "~/Views/Customer/_CustomerNav.cshtml";
}

    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Ticket Details</th>
                </tr>

            </thead>

            <tbody style="background-color:khaki">
                <tr>
                    <td><h4>Passenger Details</h4></td>
                </tr>
                @foreach (var item in Model.bookinglist)
                {

                    <tr>
                        <td><h6>Passenger Name: @item.PassengerName</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Passport No: @item.PassortNumber</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Nationality: @item.Nationality</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Seat Class: @item.SeatClass</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Booked On: @item.DateTimeCreated</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Special Request: @item.Remarks</h6></td>
                    </tr>


                }
                <tr>
                    <td><h4>Flight Details</h4></td>
                </tr>
                @foreach (var item in Model.flightlist)
                {
                    <tr>
                        <td><h6>Flight Number: @item.FlightNumber</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Departure: @item.DepartureDateTime</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Arrival: @item.ArrivalDateTime</h6></td>
                    </tr>


                }
            </tbody>

        </table>
        <div>
            <a asp-controller="ViewTickets" asp-action="Index">Back to Bookings</a>
        </div>
    </div>

