﻿@model WebApplication1.Models.AirCraftViewModel

@{
    ViewData["Title"] = "AddAirCraft";
    Layout = "~/Views/Admin/_AdminNav.cshtml";
    List<string> statuslist = new List<string> { "Operational, Under Maintenance" };

}

<h1>AddAirCraft</h1>
<body>

</body>
<h4>AirCraftViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAirCraft">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="AirCraftId" class="control-label"></label>
                <input asp-for="AirCraftId" class="form-control" />
                <span asp-validation-for="AirCraftId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomySeats" class="control-label"></label>
                <input asp-for="EconomySeats" class="form-control" />
                <span asp-validation-for="EconomySeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessSeats" class="control-label"></label>
                <input asp-for="BusinessSeats" class="form-control" />
                <span asp-validation-for="BusinessSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastMaintenance" class="control-label"></label>
                <input asp-for="LastMaintenance" class="form-control" />
                <span asp-validation-for="LastMaintenance" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddAirCraft">Admin Page</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}

