﻿@model IEnumerable<WebApplication1.Models.AirCraftViewModel>

@{
    ViewBag.Title = "FilteredAirCrafts";
}

<head>
    <style>


        .btn:hover {
            background-color: transparent;
            color: black;
            border-color: black;
            font-weight: bolder;
        }

        .btn {
            color: white;
            background-color: black;
        }


        input:hover {
            background-color: transparent;
            color: black;
            border-color: white;
            font-weight: bolder;
        }

        input {
            color: white;
            background-color: black;
        }

        .h1, h2, h3, h4 {
            color: black;
        }
    </style>
</head>
<body>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
        }
    }
    <h2>List of all the aircrafts which are last maintained more than 30 days ago!</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EconomySeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMaintenance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
        <button>Filter</button>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EconomySeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastMaintenance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="background-color:transparent">
                    <div class="form-group">
                        <a href="/Admin/updateStatus/@item.AirCraftId" class="btn"><b class="pt-3">Update Status</b></a>
                    </div>
                </td>
                @*<td style="background-color:transparent">
                        <div class="form-group">
                            <a href="/Admin/AssignSchedule/@item.AirCraftId" class="btn"><b class="pt-3">Assign Schedule</b></a>
                        </div>
                    </td>
                    <td style="background-color:transparent">
                        <div class="form-group">
                            <a href="/Admin/ViewSchedule/@item.AirCraftId" class="btn"><b class="pt-3">View Schedule</b></a>
                        </div>
                    </td>*@

            </tr>
        }

    </table>


</body>