﻿@model WebApplication1.Models.FlightCrew

@{
    ViewData["Title"] = "AssignPilot";
    Layout = "~/Views/Admin/_AdminNav.cshtml";
}

<h1>AssignPilot</h1>

<h4>FlightCrew</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignPilot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleID" class="control-label"></label>
                <input name="ScheduleID" asp-for="ScheduleID" class="form-control" value=@Model.ScheduleID readonly>
            </div>
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <input name="StaffID" asp-for="StaffID" class="form-control" value=@Model.StaffID readonly>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select name= "Role" asp-items="@ViewData["Roles"] as List<SelectListItem>" class="form-control" >
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

