﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminNav.cshtml";
}

<h1>Index</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
}
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0px 10px;
            margin-left: 70px;
        }

        /* Remove extra left and right margins, due to padding in columns */
        .row {
            margin: 0 -5px;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 16px;
            height: 150px;
            text-align: center;
            background-color: #f1f1f1;
        }
        
    </style>
</head>
<body>
    <br /><br />
    <center>
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>Total Aircrafts</h3>
                    <h3>@ViewBag.c1</h3>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewAirCrafts">button</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Operational Aircrafts</h3>
                    <h3>@ViewBag.c2</h3>
                    
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Under Maintenance Aircrafts</h3>
                    <h3>@ViewBag.c3</h3>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AircraftMaintenanceFilter">button</a>
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>Total Bookings</h3>
                    <h3>@ViewBag.c4</h3>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Total Customer</h3>
                    <h3>@ViewBag.c5</h3>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Total Flights</h3>
                    <h3>@ViewBag.c6</h3>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewSchedule">button</a>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>Total Staff Members</h3>
                    <h3>@ViewBag.c7</h3>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Male Staff Members</h3>
                    <h3>@ViewBag.c8</h3>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Female Staff Members</h3>
                    <h3>@ViewBag.c9</h3>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Create Staff record</h3>
                    <h3>@ViewBag.c1</h3>
                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="CreatePersonnel">button</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>View All personnel and flight assigned</h3>
                    <h3>@ViewBag.c3</h3>
                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewStaff">button</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>Assign Pilots and Attendents to flight</h3>
                    <h3>@ViewBag.c3</h3>
                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewFlightSchedule">Assign Crew</a>
                </div>
            </div>
        </div>
    </center>
</body>


