﻿@model IEnumerable<WebApplication1.Models.Staff>

@{
    ViewData["Title"] = "ViewAvailablePilots";
    Layout = "~/Views/Staff/StaffNav.cshtml";
}

<h1>ViewAvailablePilots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEmployed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEmployed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Assign to Flight", "AssignAttendant", new { scheduleID = TempData["ScheduleID"], StaffID = item.StaffID }) |

                </td>
            </tr>
        }
    </tbody>
</table>
