﻿@model IEnumerable<WebApplication1.Models.AircraftScheduleViewModel>


@{
    ViewData["Title"] = "ViewAirCrafts";
    Layout = "~/Views/Admin/_AdminNav.cshtml";
}

<h1>ViewAirCrafts</h1>

<head>
    <style>


        .btn:hover {
            background-color: transparent;
            color: black;
            border-color: black;
            font-weight: bolder;
        }

        .btn {
            color: white;
            background-color: black;
        }


        input:hover {
            background-color: transparent;
            color: black;
            border-color: white;
            font-weight: bolder;
        }

        input {
            color: white;
            background-color: black;
        }

        .h1, h2, h3, h4 {
            color: black;
        }
    </style>
</head>
<body>

    @foreach (var item in Model)
    {

        <div>
           


            <div>
                <h5>
                    <strong>
                        @item.AirCraftId
                        @item.Model
                        @item.ScheduleId
                        @item.FlightNumber
                        @item.RouteId
                        @item.DepartureDateTime
                        @item.ArrivalDateTime
                        @item.Status
                    </strong>
                </h5>

            </div>
        </div>
    }


</body>