﻿
@model IEnumerable<WebApplication1.Models.FlightRouteViewModel>

@{
    ViewData["Title"] = "ViewRoutes";
    Layout = "~/Views/Admin/_AdminNav.cshtml";
}

<h1>View Routes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteID)
            </th>
            <th>
                Departing From
            </th>
            <th>
                Arrival Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightDuration) (hr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureCity),@Html.DisplayFor(modelItem => item.DepartureCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalCity),@Html.DisplayFor(modelItem => item.ArrivalCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDuration)
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="AddFlightRoute">Add Route</a> <br />
</p>