﻿@model WebApplication1.Models.Booking

@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Customer/_CustomerNav.cshtml";

}

<h1>Booking Tickets</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookTickets">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassengerName" class="control-label"></label>
                <input asp-for="PassengerName" class="form-control" />
                <span asp-validation-for="PassengerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassortNumber" class="control-label"></label>
                <input asp-for="PassortNumber" class="form-control" />
                <span asp-validation-for="PassortNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatClass" class="control-label"></label>
                <select asp-for="SeatClass" asp-items="@ViewData["ClassList"] as List<SelectListItem>" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




