﻿@model WebApplication1.Models.BookingViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Customer/_CustomerNav.cshtml";
    int length = 0;
    int length1 = 0;
    string e = "";
    string b = "";
    int difference = 0;
    var today = DateTime.Now;

}

@if (Model.list.Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ScheduleID</th>
                    <th>Flight No.</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Economy Class</th>
                    <th>Business Class</th>
                    <th>Status</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.list)
                {
                    difference = ((item.DepartureDateTime ?? today) - DateTime.Today).Days;


                    if (difference > 1)
                    {
                        length = Convert.ToString(item.EconomyClassPrice).Length;
                        e = (Convert.ToString(item.EconomyClassPrice)).Substring(0, length - 2);
                        length1 = Convert.ToString(item.BusinessClassPrice).Length;
                        b = (Convert.ToString(item.BusinessClassPrice)).Substring(0, length1 - 2);
                <tr>
                    <td><h6>@item.ScheduleId</h6></td>
                    <td><h6>@item.FlightNumber</h6></td>
                    <td><h6>@item.DepartureDateTime</h6></td>
                    <td><h6>@item.ArrivalDateTime</h6></td>
                    <td><h6>@e</h6></td>
                    <td><h6>@b</h6></td>
                    <td><h6>@item.Status</h6></td>
                    <td><a asp-action="BookTickets" asp-controller="Booking" asp-route-id=@item.ScheduleId> Book Tickets</a></td>
                </tr>
                    }
                }




                
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No available flights currently!</span>
}

