﻿@model WebApplication1.Models.Booking

@{
    ViewData["Title"] = "ResultPage";
    Layout = "~/Views/Customer/_CustomerNav.cshtml";
    string value = TempData["Price"].ToString();
    int length = value.Length;
    value = value.Substring(0, length - 2);
    string id = TempData["Id"].ToString();
    string seat = TempData["Seat"].ToString();
}


    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <h3 style="color:orangered">Your booking was successful!</h3>
                    </th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td><h5 style="color:black">Schedule ID: @id</h5></td>
                </tr>
                <tr>
                    <td><h5 style="color:black">Seat Class: @seat</h5></td>
                </tr>
                <tr>
                    <td><h5 style="color:black">Amount Payable: $@value</h5></td>
                </tr>


            </tbody>

        </table>
        <div>
            <a asp-controller="Booking" asp-action="Index">Back to schedules</a>
        </div>
    </div>
