﻿body {
    background-color:brown;
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

html {
    background-color: black;
}

.list {
    border-right-style: solid;

}

.word {
    font-family: 'Pangolin', cursive;
}

.navbar {
    background-color: aliceblue;
}